body,html{
    height: 100%;
    background-color:#111;
    overflow:hidden;
}
*{
    margin:0;
}
.container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
    margin-bottom:23px;
}
.container .box1{
    height:200px;
    width:200px;
    
    background-color:rebeccapurple;
}
.container .box2{
    height:200px;
    width:200px;
    background-color:red;
}
